$bleach: #ffffff;
$night: #000000;
$lightCharcoal: #282828;
$darkCharcoal: #181818;
$halloween: #f87642;
$slateGrey: #b3b3b3;
$darkGrey: #5a5a5a;
$haloGreen: #088b00;
$sand: #f2f2f2;
$icons: #c0c0c0;

$tvpage: #f68026;
$macys: #e22130;
$nordstrom: #000000;
$bbb: #183a88;
$aha: #C10B21;
