// $primary: blue;
// $secondary: red;

// .warning,
// .error {
//   transition: color 0.3s;
// }

// .success {
//   color: var(--success-color);
// }

// .warning {
//   color: var(--warning-color);
// }

// .error {
//   color: var(--error-color);
// }

// $bleach: #ffffff;
// $night: #000000;
// $lightCharcoal: #282828;
// $darkCharcoal: #181818;
// $halloween: #f87642;
// $slateGrey: #b3b3b3;
// $darkGrey: #5a5a5a;
// $haloGreen: #088b00;
// $sand: #f2f2f2;
// $icons: #c0c0c0;

// $tvpage: #f68026;
// $macys: #e22130;
// $nordstrom: #000000;
// $bbb: #183a88;
// $aha: #c10b21;

// h1 {
//   color: $primary;
// }

$light: '#757ce8';
$main: '#3f50b5';
$dark: '#002884';
$contrastText: '#fff';
